<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>단비네 집 천국</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body class="container">
  <h1>
    단비네 집
    <a href="/new-entry" class="btn btn-primary pull-right">
      Write in the guestbook
    </a>
  </h1>
